* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  width: 100dvw;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  background-color: #333;
  padding: 20px;
  color: #aaa;
  z-index: 10;
  white-space: nowrap;
  font-size: 3vmin;
}

.avtive {
  background-color: #fff;
  color: #333;
}

.links {
  color: #aaa;
}

.links a {
  text-decoration: none;
  color: #aaa;
  margin: 0 1vmin;
}

.links a:first-of-type {
  color: #a00;
}

.top {
  width: 100dvw;
  height: 100dvh;
  background-image: url(./images/Office-Desk-2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 3vmin;
}

.top .image {
  width: 100%;
  height: 100%;
  background-color: #00000088;
}

.top .welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome h1 {
  white-space: nowrap;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
}
